<%- include header.ejs %>
<div class="jumbotron">
  <div class="container">
	<div class="row">
		<div class="col-lg-12 company">
   			<strong><%= company.name %></strong> Eclo greenhouses summary 
   			<small><%= new Date(company.timestamp).toString() %></small>
   		</div>
		<div class="col-lg-3">
			<center>
				<span class="label label-default label-important">
    			<%= ("temperature" in company) ? parseFloat(company.temperature).toFixed(2)+' °C' : 'none' %>
    		</center>
    	</div>
		<div class="col-lg-3">
			<center>
				<span class="label label-default label-important">
	    			<%= ("humidity" in company) ? parseFloat(company.humidity).toFixed(2)+' %' : 'none' %>
	    		</span>
	    	</center>
	    </div>
		<div class="col-lg-3">
			<center>
				<span class="label label-default label-important">
					<%= ("luminosity" in company) ? parseFloat(company.luminosity).toFixed(2)+' Lux' : 'none' %>
				</span>
			</center>
		</div>
		<div class="col-lg-3">
			<center>
				<% if ("alerts_count" in company && company.alerts_count > 0) { %>
					<span class="label label-danger label-important">
						<%= company.alerts_count+' Alert(s)' %>	
				<% } else { %>
					<span class="label label-default label-important">
						<%= 'No Alert' %>
				<% } %>
				</span>
			</center>
		</div>
	</div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<strong>Eclo greenhouses details</strong>
		</div>	
		<div class="col-lg-12">
			<table class="table table-hover table-striped">
				<!-- <tr><th>Name</th><th>Temperature</th><th>Humidity</th><th>Luminosity</th><th>Last Com</th></tr> -->
				<% for(var i=0; i<systems.length; i++) { %>
				<tr class="<%= systems[i].alerts ? 'danger' : '' %>">
				<tr>
					<td><a href="/systems/details?uid=<%= systems[i].uid %>"><%= systems[i].name %></a></td>
					<td><%= ("temperature" in systems[i]) ? parseFloat(systems[i].temperature).toFixed(2)+' °C' : 'none' %></td>
					<td><%= ("humidity" in systems[i]) ? parseFloat(systems[i].humidity).toFixed(2)+' %' : 'none' %></td>
					<td><%= ("luminosity" in systems[i]) ? parseFloat(systems[i].luminosity).toFixed(2)+' Lux' : 'none' %></td>
					<td>
						<% if ("alerts_count" in systems[i] && systems[i].alerts_count > 0) { %>
							<span class="label label-danger"><%= systems[i].alerts_count %> Alert(s)</span>
						<% } else { %>
							<span class="label label-default">No Alert</span>
						<% } %>
					</td>
					<td><%= new Date(systems[i].lastCommDate).toString() %></td>
				</tr>
				<% } %>
			</table>
		</div>
	</div>
</div>
<%- include footer.ejs %>
